# see https://docs.ansible.com/ansible-core/2.20/os_guide/intro_windows.html
# see https://docs.ansible.com/ansible-core/2.20/os_guide/windows_usage.html
# see https://docs.ansible.com/ansible-core/2.20/os_guide/windows_winrm.html#winrm-limitations
# see https://github.com/ansible-collections/ansible.windows
# see https://github.com/ansible-collections/community.windows

- name: Windows Example
  hosts: windows
  gather_facts: true
  tasks:
    # NB cloud-init data volume normally is assigned the D drive letter, which
    #    we want to use in our data disk.
    # see https://github.com/ansible-collections/community.windows/issues/135
    - name: Remove the cloud-init data disk drive letter
      ansible.windows.win_powershell:
        script: |
          Set-StrictMode -Version Latest
          $ErrorActionPreference = 'Stop'
          $ProgressPreference = 'SilentlyContinue'
          $Ansible.Changed = $false
          $volume = Get-Volume -FileSystemLabel cidata -ErrorAction SilentlyContinue
          if ($volume -and $volume.DriveLetter) {
            $stdout = mountvol.exe "$($volume.DriveLetter):" /d
            if ($LASTEXITCODE) {
              throw "Failed to remove the cloud-init data disk drive letter $($volume.DriveLetter): #$LASTEXITCODE $stdout"
            }
            $Ansible.Changed = $true
          }

    - name: Initialize the data disk in the D drive
      block:
        - name: Initialize the data disk
          community.windows.win_initialize_disk:
            disk_number: 1
            style: mbr
        - name: Partition the data disk
          community.windows.win_partition:
            drive_letter: D
            disk_number: 1
            partition_size: -1
        - name: Create the data filesystem
          community.windows.win_format:
            drive_letter: D
            file_system: ntfs
            new_label: data

    - name: Install the NuGet PowerShell Package Provider
      ansible.windows.win_powershell:
        script: |
          Set-StrictMode -Version Latest
          $ErrorActionPreference = 'Stop'
          $ProgressPreference = 'SilentlyContinue'
          $Ansible.Changed = $false
          $nugetPackageProvider = Get-PackageProvider | Where-Object {$_.Name -eq 'NuGet'}
          if (!$nugetPackageProvider) {
            Get-PackageProvider -Name NuGet -Force | Out-Null
            $Ansible.Changed = $true
          }

    - name: Trust the PSGallery PSRepository
      ansible.windows.win_powershell:
        # see https://www.powershellgallery.com
        script: |
          Set-StrictMode -Version Latest
          # NB we cannot set this to Stop because something is broken inside
          #    Get-PSRepository that causes it to fail with:
          #       PowerShell Gallery is currently unavailable.  Please try again later.
          $ErrorActionPreference = 'Continue'
          $ProgressPreference = 'SilentlyContinue'
          $Ansible.Changed = $false
          $repository = Get-PSRepository -Name PSGallery
          if (!$repository) {
            Unregister-PSRepository PSGallery -ErrorAction SilentlyContinue
            Register-PSRepository -Default
            $Ansible.Changed = $true
            $repository = Get-PSRepository -Name PSGallery
            if (!$repository) {
              throw "unknown error getting the PSGallery PSRepository"
            }
          }
          if ($repository.InstallationPolicy -ne 'Trusted') {
            Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
            $Ansible.Changed = $true
          }

    - name: Install WinGet Client
      # NB this is installed as a windows store app (a appx).
      # NB since this is installing winget from the windows store, the actual
      #    winget version might not match the Microsoft.WinGet.Client
      #    powershell module version.
      # NB winget.exe is available in your local app data directory , e.g., at:
      #       C:\Users\vagrant\AppData\Local\Microsoft\WindowsApps\winget.exe
      # see https://learn.microsoft.com/en-us/windows/package-manager/winget/#install-winget
      # see https://learn.microsoft.com/en-us/windows/package-manager/winget/#install-winget-on-windows-sandbox
      # see Get-Command -Module Microsoft.WinGet.Client
      # see CmdletsToExport at:
      #       https://github.com/microsoft/winget-cli/blob/v1.12.440/src/PowerShell/Microsoft.WinGet.Client/ModuleFiles/Microsoft.WinGet.Client.psd1#L76
      # see WinGetPackageManagerCmdlet at:
      #       https://github.com/microsoft/winget-cli/blob/v1.12.440/src/PowerShell/Microsoft.WinGet.Client.Cmdlets/Cmdlets/Common/WinGetPackageManagerCmdlet.cs
      vars:
        # see https://github.com/microsoft/winget-cli/releases
        # see https://www.powershellgallery.com/packages/Microsoft.WinGet.Client
        # renovate: datasource=nuget:powershellgallery depName=Microsoft.WinGet.Client
        winget_version: '1.12.440'
      block:
        - name: Install WinGet Client PowerShell Module
          community.windows.win_psmodule:
            name: Microsoft.WinGet.Client
            required_version: '{{ winget_version }}'
            accept_license: true
          register: winget_client
        - name: Install WinGet Client
          when: winget_client.changed # noqa: no-handler
          ansible.windows.win_powershell:
            script: |
              Repair-WinGetPackageManager -Verbose -AllUsers -Version 'v{{ winget_version }}'
              Add-AppxPackage -Verbose -RegisterByFamilyName -MainPackage Microsoft.DesktopAppInstaller_8wekyb3d8bbwe

    - name: Install Chocolatey
      chocolatey.chocolatey.win_chocolatey:
        name: chocolatey
        # see https://community.chocolatey.org/packages/chocolatey
        # renovate: datasource=nuget:chocolatey depName=chocolatey
        version: '2.6.0'
        state: downgrade

    - name: Install Notepad3
      chocolatey.chocolatey.win_chocolatey:
        name: notepad3
        # https://community.chocolatey.org/packages/notepad3
        # renovate: datasource=nuget:chocolatey depName=notepad3
        version: '6.25.822.1'
        state: downgrade

    - name: Install Firefox
      block:
        - name: Install Firefox
          chocolatey.chocolatey.win_chocolatey:
            name: firefox
            # https://community.chocolatey.org/packages/firefox
            # renovate: datasource=nuget:chocolatey depName=firefox
            version: '147.0.2'
            state: downgrade
            package_params: /l:en-US
        - name: Install SetDefaultBrowser
          chocolatey.chocolatey.win_chocolatey:
            name: setdefaultbrowser
            # https://community.chocolatey.org/packages/setdefaultbrowser
            # renovate: datasource=nuget:chocolatey depName=setdefaultbrowser
            version: '1.5.0'
            state: downgrade
        - name: Set Firefox as the default browser
          ansible.windows.win_powershell:
            script: |
              Set-StrictMode -Version Latest
              $ErrorActionPreference = 'Stop'
              $ProgressPreference = 'SilentlyContinue'
              $Ansible.Changed = $false
              $browser = @((SetDefaultBrowser | Where-Object {$_ -like 'HKLM Firefox-*'}) -split ' ')
              $browserId = $browser[1]
              $path = "$($Ansible.Tmpdir)\AppAssociations.xml"
              Dism /Online "/Export-DefaultAppAssociations:$path"
              [xml]$doc = Get-Content $path
              $node = $doc.SelectSingleNode("/DefaultAssociations/Association[@ApplicationName='Firefox']")
              if (!$node) {
                SetDefaultBrowser @browser
                $Ansible.Changed = $true
              }

    - name: Install Meld
      chocolatey.chocolatey.win_chocolatey:
        name: meld
        # https://community.chocolatey.org/packages/meld
        # renovate: datasource=nuget:chocolatey depName=meld
        version: '3.22.2'
        state: downgrade

    - name: Install Git
      block:
        - name: Install Git
          chocolatey.chocolatey.win_chocolatey:
            name: git
            # https://community.chocolatey.org/packages/git
            # renovate: datasource=nuget:chocolatey depName=git
            version: '2.52.0'
            state: downgrade
            package_params: /GitOnlyOnPath /NoAutoCrlf /SChannel
        - name: Configure Git
          ansible.windows.win_powershell:
            script: |
              Set-StrictMode -Version Latest
              $ErrorActionPreference = 'Stop'
              $ProgressPreference = 'SilentlyContinue'
              $Ansible.Changed = $false
              function Set-GitConfig($name, $value) {
                $currentValue = git config --global $name
                if ($LASTEXITCODE -or $currentValue -cne $value) {
                  git config --global $name ($value -replace '\\','\\' -replace '"','\"')
                  if ($LASTEXITCODE) {
                    throw "failed to execute git config with exit code $LASTEXITCODE"
                  }
                  $Ansible.Changed = $true
                }
              }
              Set-GitConfig core.longpaths true
              Set-GitConfig user.name 'Rui Lopes'
              Set-GitConfig user.email 'rgl@ruilopes.com'
              Set-GitConfig diff.guitool meld
              Set-GitConfig difftool.meld.path 'C:/Program Files/Meld/Meld.exe'
              Set-GitConfig difftool.meld.cmd '"C:/Program Files/Meld/Meld.exe" "$LOCAL" "$REMOTE"'
              Set-GitConfig merge.tool meld
              Set-GitConfig mergetool.meld.path 'C:/Program Files/Meld/Meld.exe'
              Set-GitConfig mergetool.meld.cmd '"C:/Program Files/Meld/Meld.exe" "$LOCAL" "$BASE" "$REMOTE" --auto-merge --output "$MERGED"'

    - name: Install Git Extensions
      block:
        - name: Install Git Extensions
          chocolatey.chocolatey.win_chocolatey:
            name: gitextensions
            # https://community.chocolatey.org/packages/gitextensions
            # renovate: datasource=nuget:chocolatey depName=gitextensions
            version: '5.2.1'
            state: downgrade
        - name: Configure Git Extensions
          ansible.windows.win_powershell:
            script: |
              Set-StrictMode -Version Latest
              $ErrorActionPreference = 'Stop'
              $ProgressPreference = 'SilentlyContinue'
              $Ansible.Changed = $false
              function Set-GitExtensionsStringSetting($name, $value) {
                $settingsPath = "$env:APPDATA\GitExtensions\GitExtensions\GitExtensions.settings"
                [xml]$settingsDocument = Get-Content $settingsPath
                $node = $settingsDocument.SelectSingleNode("/dictionary/item[key/string[text()='$name']]")
                if (!$node) {
                  $node = $settingsDocument.CreateElement('item')
                  $node.InnerXml = "<key><string>$name</string></key><value><string/></value>"
                  $settingsDocument.dictionary.AppendChild($node) | Out-Null
                }
                if ($value -cne $node.value.string) {
                  $node.value.string = $value
                  $settingsDocument.Save($settingsPath)
                  $Ansible.Changed = $true
                }
              }
              Set-GitExtensionsStringSetting TelemetryEnabled false
              Set-GitExtensionsStringSetting translation English
              Set-GitExtensionsStringSetting gitbindir 'C:\Program Files\Git\bin\'

    - name: Install WSL
      ansible.builtin.include_role:
        name: wsl

- name: WSL Example
  hosts: wsl
  gather_facts: true
  become: true
  roles:
    - wsl_ubuntu
